
  .app {
    min-height: 100vh;
    background-color: #39445a;
    color: white;
    padding-top: 130px;
    padding-bottom: 70px;
    margin: 0;
  }
  
  @media (max-width: 700px) {
    .app {
      padding-top: 70px;
    }
  }
  
  
  
  @media (max-width: 1000px) {
    .pageTitle {
      font-size: 6.4vw;
    }
  }
  .checked-item,
  .not-checked-item {
    margin-left: 10px;
  }
  .checked-item {
    text-decoration: line-through
  }